$bg-color: #161616;
$gold: #7CFFCE;
$border-color: #2D2D2D;

$linear-bg: rgb(255,248,204);
$linear-color: linear-gradient(180deg, rgba(255,248,204,1) 0%, rgba(173,139,55,1) 60%);

$white-color: #fff;
$black-color: #131313;
$footer-border: #979797;